html {
    background-color: black;
}

.p {
    padding-right: 20%;
    margin: 30px 30% 0px 10% ;
    /*border: 3px solid hotpink;*/
    text-align: center;
    font-size: 1.35rem;
    color: #9e9d9d;
    background-color: black;
    letter-spacing: .5rem;
    padding-top: 2px;
    padding-bottom: 2px;

}
.p2 {
    margin-top: 10px;
}

.title {
    color: #ffeb7e;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 3rem;
    padding: 35px;
    font-weight: 600;
    background-color: #565656;
    border: solid 5px #424141;
    border-top: none;
}

.formContainer {
    background-color: ghostwhite;
    height: 250px;
    margin: 50px 10%;
    border: #565656 solid 5px;
}
.input {
    background-color: #f3e59a;
    border: darkslategray solid 1px;
    margin: 20px 10%;
    height: 30px;
    width: 60%;
}
.button {
    font-size: 1rem;
}
.inputName {
    margin-top: 15px;
}
.inputURL {
    margin-top: 10px;
}
.URL {
    margin-bottom: 0px;
}


.button {
    position: relative;
    left: -10px;
    top: -70px;
    margin-bottom: 20px;
    border: 5px solid black;
    /*box-sizing: border-box;*/
    padding: 15px 25px;
    background-color: black;
    color: whitesmoke;
}
.button:hover {
    border: 5px solid #ffeb7e;
    color: #fbe469;
    background-color: #565656;
    padding: 15px 25px;
    /*box-sizing: border-box;*/

}